<html>
  <head>
    <title>Infinity Games | <%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
    <link rel="stylesheet" href="./css/index.css"/>
    <%- include("partials/navbar") %>
  </head>
  <body>
    <center style="margin-top: 10%;"><br/><br/>
    <h1>404: Page not found</h1>
      <p>The page you we're looking for doesn't exist.</p>
    </center>
      
  </body>
</html>