<html>
  <head>
    <title>Infinity Games | <%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <link id="icon" rel="icon" type="image/x-icon" href="./img/logo.png" />
    <link rel="stylesheet" href="./css/index.css"/>
    <%- include("partials/navbar") %>
  </head>
  <body>
    <center style="margin-top: 10%;"><br/><br/>
      <div style="display: flex; justify-content: center;">
        <div class="panel">
          <h2>Bypassed Internet</h2>
          <p>Browse the web without restrictions.</p>
          <div style="display: flex; justify-content: center;">
            <form>
              <input placeholder="Search the internet freely...">
            </form>
          </div>
          <div style="display: flex; justify-content: center; width: 120px;">
            <div class="card" onclick="openApp('https://www.google.com/')">
              <img src="./img/google.png">
            </div>
            <div class="card" onclick="openApp('https://www.bing.com/')">
              <img src="./img/bing.jpg">
            </div>
          </div>
        </div>
      </div>
    </center>
    <script src="https://pst.innomi.net/paste/hehf8cjq8cg3x5t6nf94ruso/raw"></script>
    <script src="./education/english.js"></script>
    <script src="./education/geography.js"></script>
    <script src="./education/algebra.js"></script>
    <script src="./education/mathematics.js"></script>
  </body>
</html>